/* General Section Styles */
section {
  padding: 80px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light Theme - About Section */
body:not(.dark-theme) #about {
  background-color: rgb(240, 240, 240); /* Light theme background */
  color: black; /* Light theme text color */
}

/* Dark Theme - About Section */
body.dark-theme #about {
  background-color: #333; /* Dark theme background */
  color: white; /* Dark theme text color */
}

/* About Content Layout */
.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 50px;
  flex-wrap: wrap;
}

.text-content-about {
  /* flex: 1; */
  max-width: 600px;
}

.text-content-about h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.text-content-about p {
  font-size: 1.2rem;
  text-align: start !important;
  margin-bottom: 20px;
  line-height: 1.5;
  color: inherit;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.buttons button {
  padding: 12px 25px;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hire-button {
  background: linear-gradient(
    90deg,
    rgba(248, 171, 5, 1) 3%,
    rgba(243, 157, 4, 1) 36%,
    rgba(214, 78, 0, 1) 100%
  );

  color: white;
}

.hire-button:hover {
  background-color: #e89700;
}

.cv-button {
  background-color: #333;
  color: white;
}

.cv-button:hover {
  background-color: #444;
  border: 1px #f0a500 solid;
}

.avatar {
  flex: 1;
  max-width: 400px;
}

.avatar img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text-content-about {
    max-width: 100%;
  }

  .avatar {
    margin-top: 20px;
  }
}
