/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Enable smooth scrolling in the app */
html {
  scroll-behavior: smooth;
}

/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box; /* Ensure padding and borders are included in width/height */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #000;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

img, iframe {
  max-width: 100%; /* Ensure images and iframes scale within the viewport */
  height: auto;
}
